<section class="auth-page-wrapper py-5 position-relative bg-light d-flex align-items-center justify-content-center min-vh-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="card-body">
          <div class="row g-0 align-items-center">
            <div class="col-xxl-6 mx-auto">
              <div class="card mb-0 border-0 shadow-none mb-0">
                <div class="card-body p-sm-5 m-lg-4">
                  <div class="text-center mt-5">
                    <h5 class="fs-3xl">Welcome</h5>
                    <p class="text-muted">Sign in to continue to 20m2 Backoffice</p>
                  </div>
                  <div class="p-2 mt-5">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" action="index.html">
                      <div class="mb-3">
                        <div class="input-group">
                          <span class="input-group-text" id="basic-addon"><i class="ri-door-lock-box-fill"></i></span>
                          <input type="text" class="form-control" id="username" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" placeholder="Codice utente">
                        </div>
                      </div>
                      <div class="mb-3">
                        <div class="position-relative auth-pass-inputgroup overflow-hidden">
                          <div class="input-group">
      <span class="input-group-text" id="basic-addon1">
        <i class="ri-lock-2-line"></i>
      </span>
                            <input
                              [type]="fieldTextType ? 'text' : 'password'"
                              class="form-control pe-5 password-input"
                              formControlName="password"
                              [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
                              placeholder="Password"
                              id="password-input">
                          </div>
                          <button
                            class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                            type="button"
                            id="password-addon"
                            (click)="toggleFieldTextType()">
                            <i class="align-middle"
                               [ngClass]="fieldTextType ? 'ri-eye-off-line' : 'ri-eye-fill'">
                            </i>
                          </button>
                        </div>
                      </div>

                      <div class="float-end">
                        <a routerLink="/auth/pass-reset" class="text-muted">Forgot password?</a>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="auth-remember-check">
                        <label class="form-check-label" for="auth-remember-check">Remember me</label>
                      </div>
                      <div class="mt-4">
                        <button class="btn btn-primary w-100" type="submit">Sign In</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
