<section class="auth-page-wrapper py-5 position-relative bg-light d-flex align-items-center justify-content-center min-vh-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11">
              <div class="card-body">
                <div class="row g-0 align-items-center">
                  <div class="col-xxl-6 mx-auto">
                    <div class="card mb-0 border-0 shadow-none mb-0">
                      <div class="card-body p-sm-5 m-lg-4">
                        <div class="text-center">
                          <img src="assets/images/auth/log-out.png" alt="" class="img-fluid">
                        </div>
                        <div class="mt-4 pt-2 text-center">
                          <h5 class="fs-3xl">Disconnesso</h5>
                          <div class="mt-4">
                            <a (click)="logout()" class="btn btn-primary w-100">Log in</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
